VITE_SUPABASE_PROJECT_ID="opjiacaqzljurmyknrlj"
VITE_SUPABASE_PUBLISHABLE_KEY=""
VITE_SUPABASE_URL="https://opjiacaqzljurmyknrlj.supabase.co"
VITE_TENCENT_MAP_KEY=""
VITE_TENCENT_MAP_REFERER="iLocal"
